body{
background: rgb(58, 58, 201);
font: normal 22pt arial;
}
header{
    
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px;
}

div{
 text-align: center;   
}

footer{
color: white;
text-align: center;
font-style: italic;
font: normal 15pt arial ;
}